<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>funday.com - Team Management Platform</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="dev-team.component.css">
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand" routerLink="/home">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Twemoji_1f60e.svg/768px-Twemoji_1f60e.svg.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <strong> funday</strong><span>.com</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" id="home" routerLink="/home">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="cases" routerLink='/information'>Use Cases</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="team" routerLink='/devTeam'>Our Team</a>
          </li>

          <li class="nav-item">
            <div id="lrbtn"><a class="nav-link" id="start" routerLink='/login'><button type="button" class="btn btn-sm btn-outline-info">Log In</button></a></div>
          </li>
        </ul>
      </div>
    </nav>

    <section id="aboutus">
        <div class="container">
            <header id="img-section">
              <div class="dark-overlay">
                <div class="home-inner text-center px-5">
                  <h2 class="text-center"> Creating a workplace environment of<br>
                    <span class="blue">transparency</span> & <span class="purple">ownership</span><br>to empower teams.</h2>
                </div>
              </div>
            </header>
          </div>

      <div class="row my-5">
        <div class="col">
          <div class="info-header">
            <h1 class="text-black pb-3">Meet The Developers</h1>
            <h4 id="lead" class="text-secondary">
              We are here to help you to achieve your goals.
            </h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="card eric">
            <div class="card-body">
              <img src="https://media.licdn.com/dms/image/C4E03AQFQWHecPCNo3w/profile-displayphoto-shrink_200_200/0?e=1574899200&v=beta&t=B6Azm1hQIikQJI9sJ136K0SrkXFk5d2bqP6aCby044Q" alt="" class="img-fluid rounded-circle w-50 mb-3" />
              <h3>Eric A.</h3>
                <h5>Full Stack Developer</h5>
                <p>
                  Eric is cool.
                </p>
                <div class="d-flex justify-content-center">
                  <div class="p-4">
                    <a href="https://www.linkedin.com/in/eajisaka/">
                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="https://github.com/eajisaka">
                      <i class="fa fa-github-square" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="mailto:eajisaka@gmail.com">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-12">
          <div class="card genie">
            <div class="card-body">
              <img src="https://media.licdn.com/dms/image/C5603AQFKcMCbLh66aQ/profile-displayphoto-shrink_200_200/0?e=1574899200&v=beta&t=QFHrepQggsIdrHtk5m09zsb4yq1MggVCd785BHq-9ug" alt="" class="img-fluid rounded-circle w-50 mb-3" />
              <h3>Genie D.</h3>
                <h5>Full Stack Developer</h5>
                <p>
                  Genie is cool.
                </p>
                <div class="d-flex justify-content-center">
                  <div class="p-4">
                    <a href="https://www.linkedin.com/in/geniedavalos/">
                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="https://github.com/geniedavalos">
                      <i class="fa fa-github-square" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="mailto:genie@davalos.xyz">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-12">
          <div class="card michael">
            <div class="card-body">
              <img src="https://media.licdn.com/dms/image/C5603AQGQVdrC9CZ7zg/profile-displayphoto-shrink_200_200/0?e=1574899200&v=beta&t=jacAJ2ZWq65zE3UXQQyZ2RSzcJ6Bo-kJFaYJGcLPZD8" alt="" class="img-fluid rounded-circle w-50 mb-3" />
              <h3>Michael K.</h3>
                <h5>Full Stack Developer</h5>
                <p>
                  Michael is cool.
                </p>
                <div class="d-flex justify-content-center">
                  <div class="p-4">
                    <a href="https://www.linkedin.com/in/michael-kemper-89998b100/">
                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="https://github.com/mkemper31">
                      <i class="fa fa-github-square" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="mailto:michaelkemper31@gmail.com">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-12">
          <div class="card phat">
            <div class="card-body">
              <img src="https://media.licdn.com/dms/image/C5603AQH0Bkzex0YHBg/profile-displayphoto-shrink_200_200/0?e=1574899200&v=beta&t=OLIcChDSqK2eFSvKDgf-IsIRNJgCy9uIFuUSrMU1aXU" alt="" class="img-fluid rounded-circle w-50 mb-3" />
              <h3>Phat L.</h3>
                <h5>Full Stack Developer</h5>
                <p>
                  Phat is cool.
                </p>
                <div class="d-flex justify-content-center">
                  <div class="p-4">
                    <a href="https://www.linkedin.com/in/phat-luong-37244417b">
                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="https://github.com/phatluong123">
                      <i class="fa fa-github-square" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="mailto:phat.luong1128@gmail.com">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-12">
          <div class="card wade">
            <div class="card-body">
              <img src="https://media.licdn.com/dms/image/C4D03AQEsu45Ax7TDqg/profile-displayphoto-shrink_200_200/0?e=1574899200&v=beta&t=8b1mERJe78MPM_8smtYR5rIFlAlWiXUZeVAOVc_-3gg" alt="" class="img-fluid rounded-circle w-50 mb-3" />
              <h3>Wade A.</h3>
                <h5>Full Stack Developer</h5>
                <p>
                  Wade is cool.
                </p>
                <div class="d-flex justify-content-center">
                  <div class="p-4">
                    <a href="http://linkedin.com/">
                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="https://github.com/Wade93">
                      <i class="fa fa-github-square" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="mailto:wade.allen11@gmail.com">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<!--
    <section id="contactus">
      <h2>We are here for you!</h2>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-sm-12 support"><a href="#" class="text-white">Contact Support</a></div>
        <div class="col-lg-3 col-sm-12 hire"><a href="#aboutus" class="text-white">Hire Us</a></div>
        <div class="col-lg-3 col-sm-12 guide"><a href="#" class="text-white">Guide</a></div>
      </div>
    </section> -->

    <footer>
        <div class="row map justify-content-center">
          <div class="col-lg-4 col-sm-6">
            <p><a routerLink="/home"><strong>Our product</strong></a></p>
            <p><a href="#" id="purpleh">Product</a></p>
            <p><a href="#" id="purpleh">Pricing</a></p>
          </div>

          <div class="col-lg-4 col-sm-6">
            <p><a routerLink='/information'><Strong>Use cases</Strong></a></p>
            <p><a href="#" id="greenh">Product Management</a></p>
            <p><a href="#" id="greenh">Sample Use Cases</a></p>
          </div>


          <div class="col-lg-3 col-sm-6">
            <p><a routerLink='/devTeam'><Strong>Our Team</Strong></a></p>
            <p><a href="#" id="blueh">About Us</a></p>
            <p><a href="#" id="blueh">Contact Us</a></p>
          </div>
        </div>

      <div class="row">
        <div class="col-lg-6 col-sm-12 real-footer text-center">Made with <i class="fa fa-coffee" aria-hidden="true"></i> & <i class="fa fa-heart" aria-hidden="true"></i><br>
          All Rights Reserved © funday.com</div>
        <div class="col-lg-6 col-sm-12 real-footer justify-content-center">
            <div class="row social justify-content-center">
                <a href="https://www.facebook.com"  id="facebook" class="fa fa-facebook" target="_blank"></a>
                <a href="https://www.twitter.com" id="twitter" class="fa fa-twitter" target="_blank"></a>
                <a href="https://www.youtube.com" id="youtube" class="fa fa-youtube" target="_blank"></a>
                <a href="https://www.skype.com" id="skype" class="fa fa-skype" target="_blank"></a>
              </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
