body, section {
  margin: 2%;
}

/* Header */
nav {
  padding: 2%;
  margin: 2%;
}

.navbar-brand {
  font-size: 1.8rem;
}

.nav-item {
  font-size: 1.2rem;
}

#home:hover, #home:active {
  color: rgb(180, 39, 180);
}

#team:hover, #team:active {
  color: blue;
}

#cases:hover, #cases:active {
  color: green;
}

.btn-outline-info {
  padding: 5px 15px;
}

#img-section {
  background: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 400px;
  color: white;
}

#img-section .dark-overlay {
  width: 100%;
  min-height: 400px;
  background: rgba(0, 0, 0, 0.8);
}

#img-section .home-inner {
  padding-top: 120px;
}

.green {
  color: green;
}

.blue {
  color: rgb(20, 108, 143);
}

.purple {
  color: rgb(164, 85, 207);
}

.pink {
  color: rgb(212, 37, 125);
}

.grey {
  padding: 1%;
  height: 20vh;
  background-color: rgb(210, 207, 207);
}

#aboutus, #contactus {
  text-align: center;
}

.ss {
  padding: 2%;
  margin: 2%;
}

.punchline {
  margin-bottom: 5%;
}

#aboutus img {
  margin-top: -50px;
}

#aboutus .eric:hover {
  background: rgb(12, 136, 158);
  color: #fff;
}

#aboutus .genie:hover {
  background: #050468;
  color: #fff;
}


#aboutus .michael:hover {
  background: #cf2e19;
  color: #fff;
}


#aboutus .phat:hover {
  background: #2abb67;
  color: #fff;
}


#aboutus .wade:hover {
  background: #131596;
  color: #fff;
}

#aboutus .card:hover .fa {
  color: #fff;
}

#lead {
  font-size: 1.3rem;
}

.fa {
  color: black;
  font-size: 1.5rem;
}

.fa-linkedin-square {
  color: #0e76a8;
}

.fa-github-square {
  color: #333;
}

.fa-envelope {
  color: #4078c0;
}

.support {
  padding: 2.5rem 0.3rem;
  margin: 1rem;
  background-color: rgb(29, 163, 29);
  color: white;
  border-radius: 8px;
  font-size: 1.4rem;
}

.hire {
  padding: 2.5rem 0.3rem;
  margin: 1rem;
  background-color: rgb(20, 108, 143);
  color: white;
  border-radius: 8px;
  font-size: 1.4rem;
}

.guide {
  padding: 2.5rem 0.3rem;
  margin: 1rem;
  background-color: rgb(87, 20, 122);
  color: white;
  border-radius: 8px;
  font-size: 1.4rem;
}

.video {
  height: 30vh;
}

.card {
  margin: 1.5rem;
}

/* Footer */
footer {
  padding: 2%;
  margin: 2%;
}

.logo {
  width: 20%;
}

.fa-coffee {
  color: black;
}

.fa-heart {
  color: rgb(158, 31, 31);
}

.social {
  font-size: 1.5rem;
}

.social a {
  color: rgb(73, 68, 68);
  text-decoration: none;
}

.fa-facebook {
  padding: 0px 20px;
}

#facebook:hover {
  color: #3b5998;
}

.fa-youtube {
  padding: 0px 20px;
}

#youtube:hover {
  color: #c4320b;
}

.fa-twitter {
  padding: 0px 20px;
}

#twitter:hover {
  color: #00acee;
}

.fa-skype {
  padding: 0px 20px;
}

#skype:hover {
  color: #00aff0;
}

footer .map a {
  color: rgb(73, 68, 68);
  text-decoration: none;
}

.real-footer {
  padding: 2%;
}

#purpleh:hover {
  color: rgb(87, 20, 122);
}

#greenh:hover {
  color: green;
}

#blueh:hover {
  color: rgb(20, 108, 143);
}

