<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Funday.com - Team Management Platform</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand" href="/index.html">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Twemoji_1f60e.svg/768px-Twemoji_1f60e.svg.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <strong> funday</strong><span>.com</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" id="home" routerLink='/home'>Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="cases" routerLink='/information'>Use Cases</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="team" routerLink='/devTeam'>Our Team</a>
          </li>

          <li class="nav-item">
            <div id="lrbtn"><a class="nav-link" id="start" routerLink='/dashboard/'><button type="button" class="btn btn-sm btn-outline-info">Dashboard</button></a></div>
          </li>
        </ul>
      </div>
    </nav>
    <section>

      <h2>Task Name <span style="font-size: 1.2rem;">(Due: 11/18/19)</span></h2>
      <p>Task details, this is such a great task, hey can't wait to get it done! Yay!</p>
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10">
        </div>
      </div>
      <div class='row mt-3'>
        <button type="button" class="btn btn-info mx-auto" data-toggle="modal" data-target="#updateProgress">Update Progress</button>
      </div>

      <div class="modal fade" id="updateProgress" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                  <div class="modal-header text-center bg-info">
                      <h3 class="modal-title w-100  my-auto text-white">Update Progress</h3>
                      <button type="button" class="close text-white my-auto" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">

                      <p class='text-center'><strong>Enter your progress below</strong></p>
                      <p class='text-center'>Current Progress</p>
                      <div class="progress mb-2 col-8 mx-auto p-0">
                        <div class="progress-bar progress-bar-striped" role="progressbar" [style.width]='percentage' aria-valuenow='5' aria-valuemin='0' aria-valuemax='100'>{{ percentage }}</div>
                      </div>
                      <div class='input-group mb-2 justify-content-center mt-3'>
                      <input type='text' class='form-control col-1' name='progress' [(ngModel)]='updateProgress'>
                      <div class='input-group-append'>
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-percent" aria-hidden="true"></i></span>
                      </div>
                      </div>

                  </div>
                  <div class="modal-footer justify-content-center">
                      <button type="button" (click)='onProgressUpdate()' class="btn btn-info">Update</button>
                  </div>
              </div>
          </div>
      </div>

    </section>

    <section>
      <h2>Notes</h2>
      <div class="notes my-4">
        <p>(12/19/2020) Wade says: Hey working on this</p>
        <p>(12/22/2020) Genie says: My registration isn't working!</p>
        <p>(12/19/2020) Wade says: Hey working on this</p>
        <p>(12/22/2020) Genie says: My registration isn't working!</p>
        <p>(12/19/2020) Wade says: Hey working on this</p>
        <p>(12/22/2020) Genie says: My registration isn't working!</p>
        <p>(12/19/2020) Wade says: Hey working on this</p>
        <p>(12/22/2020) Genie says: My registration isn't working!</p>
        <p>(12/19/2020) Wade says: Hey working on this</p>
        <p>(12/22/2020) Genie says: My registration isn't working!</p>
        <p>(12/19/2020) Wade says: Hey working on this</p>
        <p>(12/22/2020) Genie says: My registration isn't working!</p>
        <p>(12/19/2020) Wade says: Hey working on this</p>
        <p>(12/22/2020) Genie says: My registration isn't working!</p>
      </div>
      <textarea rows='2' class='form-control' [(ngModel)]='newNote'>
      </textarea>
      <br>
      <div class='row'>
        <button type="button" (click)='onAddNote()' class="btn btn-success mx-auto">Add Note</button>
      </div>

    </section>

    <footer>
        <div class="row map justify-content-center">
          <div class="col-lg-4 col-sm-6">
            <p><a href="/index.html"><strong>Our product</strong></a></p>
            <p><a href="#" class="purpleh">Product</a></p>
            <p><a href="#" class="purpleh">Pricing</a></p>
          </div>

          <div class="col-lg-4 col-sm-6">
            <p><a href="/cases.html"><Strong>Use cases</Strong></a></p>
            <p><a href="#" class="greenh">Product Management</a></p>
            <p><a href="#" class="greenh">Sample Use Cases</a></p>
          </div>


          <div class="col-lg-3 col-sm-6">
            <p><a href="/team.html"><Strong>Our Team</Strong></a></p>
            <p><a href="#" class="blueh">About Us</a></p>
            <p><a href="#" class="blueh">Contact Us</a></p>
          </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-sm-12 real-footer text-center">Made with <i class="fa fa-coffee" aria-hidden="true"></i> & <i class="fa fa-heart" aria-hidden="true"></i><br>
              All Rights Reserved © funday.com</div>
            <div class="col-lg-6 col-sm-12 real-footer justify-content-center">
              <div class="row social justify-content-center">
                <a href="https://www.facebook.com" id="facebook" class="fa fa-facebook" target="_blank"></a>
                <a href="https://www.twitter.com" id="twitter" class="fa fa-twitter" target="_blank"></a>
                <a href="https://www.youtube.com" id="youtube" class="fa fa-youtube" target="_blank"></a>
                <a href="https://www.skype.com" id="skype" class="fa fa-skype" target="_blank"></a>
              </div>
            </div>
          </div>
        </footer>
      </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>

