<div class="modal fade" id="addProject" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center bg-primary">
              <h3 class="modal-title my-auto w-100 text-white">Create A Project</h3>
              <button type="button" class="close my-auto text-white" data-dismiss="modal" (click)="closeModal($event)" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class='text-center'><strong>Step 1</strong></p>
              <p class='text-center'>Enter a due date, title and description</p>
              <form #projectForm='ngForm' name='newProjectForm'>
                <div class='input-group mb-2 justify-content-center'>
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                  </div>
                  <input type='date'
                          class='form-control col-8'
                          name='date'
                          [(ngModel)]='newProject.dueDate'
                          #dueDate="ngModel"
                          required
                          min="{{today}}"
                  >
                </div>
                <small class="mt-0" *ngIf="(dueDate.touched || dueDate.dirty) && dueDate.errors" >
                  <div *ngIf="dueDate?.errors?.required" class="alert alert-danger col-8 mx-auto">
                    Please enter a valid date.
                  </div>
                </small>

                <div class='input-group mb-2 justify-content-center'>
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-terminal" aria-hidden="true"></i></span>
                  </div>
                  <input type='text' class='form-control col-8' name='title' [(ngModel)]='newProject.title'
                          placeholder="Title"
                          #title="ngModel"
                          minlength="3"
                          required
                  >
                  </div>
                  <small *ngIf="(title.touched || title.dirty) && title.errors" >
                    <div *ngIf="title?.errors?.required" class="alert alert-danger col-8 mx-auto">
                      Please enter a title.
                    </div>
                    <div *ngIf="title?.errors?.minlength" class="alert alert-danger col-8 mx-auto">
                      Title should be at least
                      {{ title?.errors?.minlength.requiredLength }} characters
                    </div>
                  </small>


                <div class='input-group mb-2 justify-content-center'>
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                  </div>
                  <textarea class='form-control col-8'
                          name='description'
                          [(ngModel)]='newProject.description'
                          placeholder="Description"
                          #description="ngModel"
                          minlength="3"
                          required
                  ></textarea>
                  </div>
                  <small *ngIf="(description.touched || description.dirty) && description.errors" >
                    <div *ngIf="description?.errors?.required" class="alert alert-danger col-8 mx-auto">
                      Please enter a project description.
                    </div>
                    <div *ngIf="description?.errors?.minlength" class="alert alert-danger col-8 mx-auto">
                      Description should be at least
                      {{ description?.errors?.minlength.requiredLength }} characters.
                    </div>
                  </small>

                <hr>
                <p class='text-center'><strong>Step 2</strong></p>
                  <p class='text-center'>Add Team Members</p>
                  <input *ngIf="!currentUser?.isOwner" type="hidden" [(ngModel)]="newProjectLead" name="newLead" value="currentUser._id">
                  <div *ngIf="currentUser?.isOwner" class='input-group mb-2 justify-content-center'>
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
                    </div>
                    <select [(ngModel)]="newProjectLead" name="newLead" class="form-control col-8">
                        <option class="text-muted" selected disabled hidden value="">--Select Project Lead--</option>
                        <option *ngFor="let manager of managers" value="{{manager?._id}}">{{manager.firstName}} {{manager.lastName}}</option>
                    </select>
                  </div>
                  <div class='input-group mb-2 justify-content-center'>
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-building" aria-hidden="true"></i></span>
                    </div>
                    <select [(ngModel)]='selectedDepartments' multiple class='form-control col-8' name='projectDept'>
                        <option *ngFor="let department of currentCompany?.departments" value="{{department}}">{{department}}</option>
                    </select>
                  </div>

                  <form #addMembers="ngForm">
                    <div class='input-group mb-2 justify-content-center'>
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-users" aria-hidden="true"></i></span>
                      </div>
                      <select multiple class='form-control col-8' id='teamNames' name='member' [(ngModel)]='newMembers'>
                          <option *ngFor="let employee of employees" [hidden]="!selectedDepartments.includes(employee.department)" [disabled]="addedIds.includes(employee._id)" value="{{employee._id}}-{{employee.firstName}} {{employee.lastName}}">{{employee.firstName}} {{employee.lastName}}</option>
                      </select>
                    </div>
                    <div class='row'>
                      <button data-dismiss="modal" (click)='onAdd(addMembers)' [disabled]="newMembers.length < 1"class='btn btn-sm btn-success mt-3 mx-auto'>Add To Team</button>
                    </div>
                  </form>
                  <div class='addedMembers mt-3'>
                    <span *ngFor='let member of addedTeamMembers' class='badge badge-success mx-1'>{{ member }}</span>
                  </div>
              </form>
            </div>
            <div class="modal-footer justify-content-center" data-dismiss="modal">
              <button data-dismiss="modal" [disabled]='projectForm.invalid' (click)='onSubmit(projectForm, $event)' type="button" class="btn btn-primary px-5">Add Project!</button>
            </div>
        </div>
    </div>
</div>
