<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>funday.com - Team Management Platform</title>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand" routerLink="/home">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Twemoji_1f60e.svg/768px-Twemoji_1f60e.svg.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <strong> funday</strong><span>.com</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" id="home" routerLink="/home">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="cases" routerLink='/information'>Use Cases</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="team" routerLink='/devTeam'>Our Team</a>
          </li>

          <li class="nav-item">
            <div id="lrbtn"><a class="nav-link" id="start" href="/dashboard/manager"><button type="button" class="btn btn-sm btn-outline-info">Dashboard</button></a></div>
          </li>
        </ul>
      </div>
    </nav>

    <section>
      <div class="welcome">
        <h2 class="text-center">Welcome, {{currentUser?.firstName}}!</h2>
      </div>
    </section>

    <section id="projects">
      <h2>My Tasks</h2>
      <div *ngIf='tasks.length == 0'><h5 class='text-center text-primary'>You currently don't have any tasks!</h5></div>
      <table class="table text-center " *ngIf='tasks.length > 0'>
        <thead>
          <tr>
            <th scope="col">Task Name</th>
            <th scope="col">Task Progress</th>
            <th scope="col">Due Date</th>
            <th scope="col">Add Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of currentUser?.tasks">
            <th scope="row"><a [routerLink]="['/tasks/', task._id]" routerLinkActive="router-link-active">{{task?.title}}</a></th>
            <td>
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{'width': task.progress+'%'}" aria-valuenow="25">{{task.progress}}%</div>
              </div>
            </td>
            <td>{{task.dueDate | date : "mediumDate" }}</td>
            <td>
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addNote"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="modal fade" id="addNote" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header text-center bg-info">
                <h3 class="modal-title w-100  my-auto text-white">Add New Notes</h3>
                <button type="button" class="close text-white my-auto" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <p class='text-center'><strong>Enter your new notes below</strong></p>
                <div class='input-group mb-2 justify-content-center'>
                  <div class='input-group-prepend'>
                    <span class='input-group-text' id='basic-addon1'><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                  </div>
                  <textarea class='form-control col-8' name='note' [(ngModel)]='newNote.content'></textarea>
                </div>

              </div>
              <div class="modal-footer justify-content-center">
                  <button type="button" data-dismiss="modal" (click)='onAddNote()' class="btn btn-info">Add Note</button>
              </div>
            </div>
          </div>
        </div>

    </section>


    <section id="users">
      <h2>My Team</h2>

      <div *ngIf='tasks.length == 0'><h5 class='text-center text-primary'>You are currently not assigned to a team!</h5></div>
      <table class="table text-center " *ngIf='teamMembers.length > 0'>
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of teamMembers">
            <th scope="row">{{member.firstName}} {{member.lastName}}</th>
            <td>{{member.department}}</td>
            <td><button class="btn btn-outline-info">Message Button</button></td>
          </tr>
        </tbody>
      </table>
    </section>

    <footer>
        <div class="row map justify-content-center">
          <div class="col-lg-4 col-sm-6">
            <p><a routerLink="/home"><strong>Our product</strong></a></p>
            <p><a href="#" class="purpleh">Product</a></p>
            <p><a href="#" class="purpleh">Pricing</a></p>
          </div>

          <div class="col-lg-4 col-sm-6">
            <p><a routerLink='/information'><Strong>Use cases</Strong></a></p>
            <p><a href="#" class="greenh">Product Management</a></p>
            <p><a href="#" class="greenh">Sample Use Cases</a></p>
          </div>


          <div class="col-lg-3 col-sm-6">
            <p><a routerLink='/devTeam'><Strong>Our Team</Strong></a></p>
            <p><a href="#" class="blueh">About Us</a></p>
            <p><a href="#" class="blueh">Contact Us</a></p>
          </div>
        </div>

      <div class="row">
        <div class="col-lg-6 col-sm-12 real-footer text-center">Made with <i class="fa fa-coffee" aria-hidden="true"></i> & <i class="fa fa-heart" aria-hidden="true"></i><br>
          All Rights Reserved © funday.com</div>
        <div class="col-lg-6 col-sm-12 real-footer justify-content-center">
          <div class="row social justify-content-center">
            <a href="https://www.facebook.com" class="fa fa-facebook" target="_blank"></a>
            <a href="https://www.twitter.com" class="fa fa-twitter" target="_blank"></a>
            <a href="https://www.youtube.com" class="fa fa-youtube" target="_blank"></a>
            <a href="https://www.skype.com" class="fa fa-skype" target="_blank"></a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>

