<section id="projects">
  <div class="welcome">
    <h2 class="text-center">Welcome, {{currentUser?.firstName}}!</h2>
  </div>
  <h2>Manage Projects</h2>
  <div class="overview">
    <div *ngFor="let project of projects" class="project mt-4">
      <h4 class="font-weight-normal"><a [routerLink]="['/projects/', project?._id]">{{project?.title}}</a></h4>
      <h5 class="font-weight-normal">Project Deadline: (<span class="green">{{project.dueDate | date: 'mediumDate'}}</span>)</h5>
      <div class="progress mb-3">
        <div class="progress-bar  progress-bar-striped bg-info" role="progressbar" [ngStyle]="{'width': project?.progress+'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{project.progress}}%</div>
      </div>
    </div>
  </div>
  <div class='row'>
      <button type="button" class="btn btn-primary mt-3 mx-auto" data-toggle="modal" data-target="#addProject">Add Project</button>
  </div>
  <app-project-new [currentUser]="currentUser" [currentCompany]="currentCompany" [managers]="managers" [employees]="employees" (createProjectEmitter)="createNewProject($event)"></app-project-new>
</section>