<div class="container">
  <!-- Start navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" routerLink="/home">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Twemoji_1f60e.svg/768px-Twemoji_1f60e.svg.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <strong> funday</strong><span>.com</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!loggedIn" class="nav-item">
          <a class="nav-link" id="home" routerLink="/home">Home</a>
        </li>

        <li *ngIf="!loggedIn" class="nav-item">
          <a class="nav-link" id="cases" routerLink='/information'>Use Cases</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="team" routerLink='/devTeam'>Our Team</a>
        </li>

        <li *ngIf="loggedIn" class="nav-item">
          <a class="nav-link" id="team" routerLink='/dashboard'>Dashboard</a>
        </li>

        <li *ngIf="loggedIn" class="nav-item">
          <div id="lrbtn"><a class="nav-link" id="start" (click)="logoutButton()"><button type="button" class="btn btn-sm btn-outline-info">Logout</button></a></div>
        </li>
        <li *ngIf="!loggedIn" class="nav-item">
          <div id="lrbtn"><a class="nav-link" id="start" routerLink="/login"><button type="button" class="btn btn-sm btn-outline-info">Log In</button></a></div>
        </li>
      </ul>
    </div>
  </nav>
  <!-- End navbar -->
  <router-outlet></router-outlet>
  <!-- Start footer -->
  <footer>
      <div class="row map justify-content-center">
        <div class="col-lg-4 col-sm-6">
          <p><a [routerLink]="['/home']"><strong>Our product</strong></a></p>
          <p><a [routerLink]="['/home']" id="purpleh">Product</a></p>
          <p><a [routerLink]="['/home']" id="purpleh">Pricing</a></p>
        </div>

        <div class="col-lg-4 col-sm-6">
          <p><a [routerLink]="['/information']"><strong>Use Cases</strong></a></p>
          <p><a [routerLink]="['/information']" id="greenh">Product Management</a></p>
          <p><a [routerLink]="['/information']" id="greenh">Sample Use Cases</a></p>
        </div>

        <div class="col-lg-4 col-sm-6">
          <p><a [routerLink]="['/devTeam']"><Strong>Our Team</Strong></a></p>
          <p><a [routerLink]="['/devTeam']" id="blueh">About Us</a></p>
          <p><a [routerLink]="['/devTeam']" id="blueh">Contact Us</a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-sm-12 real-footer text-center">Made with <i class="fa fa-coffee" aria-hidden="true"></i> & <i class="fa fa-heart" aria-hidden="true"></i><br>
          All Rights Reserved © funday.com</div>
        <div class="col-lg-6 col-sm-12 real-footer justify-content-center">
          <div class="row social justify-content-center">
            <a href="https://www.facebook.com" id="facebook" class="fa fa-facebook" target="_blank"></a>
            <a href="https://www.twitter.com" id="twitter" class="fa fa-twitter" target="_blank"></a>
            <a href="https://www.youtube.com" id="youtube" class="fa fa-youtube" target="_blank"></a>
            <a href="https://www.skype.com" id="skype" class="fa fa-skype" target="_blank"></a>
          </div>
        </div>
      </div>
    </footer>
    <!-- End footer -->
</div>
