<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="registration">
  <h2>Registration</h2>
  <form (submit)="Createemployee($event)" #employeeForm ='ngForm'>
    <div class="form-group">
      <div>
        <p class="errorMessage">{{duplicatedError}}</p>
      </div>
      <label>First name: </label>
      <input name="firstName"
             type="text"
             class="form-control"
             id="name"
             [(ngModel)]="employee.first_name"
             #first_name="ngModel"
             placeholder="First Name"
             minlength="3"
             required
      />
      <div *ngIf="(first_name.touched || first_name.dirty) && first_name.errors">
        <div *ngIf="first_name?.errors?.required" class="alert alert-danger">
          First Name cannot be empty
        </div>
        <div *ngIf="first_name?.errors?.minlength" class="alert alert-danger">
          First Name is at least 3 characters
          {{ first_name?.errors?.minlength.requiredLength }} characters
        </div>
      </div>

    </div>
    <div>
      <p class="errorMessage">{{errorsMessage?.first_name.message}}</p>
    </div>
    <div class="form-group">
      <label>Last Name :</label>
      <input name="last_name"
             type="text"
             class="form-control"
             id="type"
             [(ngModel)]="employee.last_name"
             #last_name="ngModel"
             placeholder="Last Name"
             minlength="3"
             required
      />
      <div *ngIf="(last_name.touched || last_name.dirty) && last_name.errors">
        <div *ngIf="last_name?.errors?.required" class="alert alert-danger">
          You must enter a type for pet !
        </div>
        <div *ngIf="last_name?.errors?.minlength" class="alert alert-danger">
          Last name must be at least 3 characters
          {{ last_name?.errors?.minlength.requiredLength }} characters
        </div>
      </div>
      <div>
        <p class="errorMessage">{{errorsMessage?.last_name.message}}</p>
      </div>
    </div>
    <div>
      <label>Email : </label>
      <input name="email"
             type="text"
             class="form-control"
             id="description"
             [(ngModel)]="employee.email"
             #email="ngModel"
             email
             placeholder="Email"
             required
      />
      <div *ngIf="(email.touched || email.dirty) && email.errors">
        <div *ngIf="email?.errors?.required" class="alert alert-danger">
          Email cannot be empty
        </div>
        <div *ngIf="email?.errors?.email" class="alert alert-danger">
          Email must be a valid
          {{ email?.errors?.valid}} email
        </div>
      </div>
      <div>
        <p class="errorMessage">{{errorsMessage?.email.message}}</p>
      </div>
    </div>
    <div>
      <label>Password : </label>
      <input name="password"
             type="text"
             class="form-control"
             id="password"
             [(ngModel)]="employee.password"
             #password="ngModel"
             placeholder="Password"
             minlength="8"
             required
      />
      <div *ngIf="(password.touched || password.dirty) && password.errors">
        <div *ngIf="password?.errors?.required" class="alert alert-danger">
          Password cannot be empty
        </div>
        <div *ngIf="password?.errors?.minlength" class="alert alert-danger">
          Password must be greater than
          {{ password?.errors?.minlength.requiredLength }} characters
        </div>
      </div>
      <div>
        <p class="errorMessage">{{errorsMessage?.password.message}}</p>
      </div>
    </div>
    <div  *ngIf="isNewCompany">
      <label>Company : OR </label><a (click)="changeCompnayInput()"> Has company name already?</a>
      <input name="company" type="text" class="form-control" placeholder="Company"/>
    </div>
    <div  *ngIf="!isNewCompany">
      <label>Company : </label>
      <section class="form-control" *ngFor="let company of companies">
        <option value="{{company}}">{{company}}</option>
      </section>

    </div>
    <button class="btn btn-primary" [disabled]="employeeForm.invalid">Register</button>
    <button class="btn btn-danger" [routerLink] = "['']">Cancel</button>
  </form>
</div>


