<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Funday.com - Team Management Platform</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style1.css">
</head>

<body>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="/index.html">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Twemoji_1f60e.svg/768px-Twemoji_1f60e.svg.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <strong>Funday</strong><span>.com</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="home" routerLink='/home'>Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="cases" routerLink='/information'>Use Cases</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="team" routerLink='/devTeam'>Our Team</a>
        </li>

        <li class="nav-item">
          <div id="lrbtn"><a class="nav-link" id="start" routerLink='/login'><button type="button" class="btn btn-sm btn-outline-info">Log In</button></a></div>
        </li>
      </ul>
    </div>
  </nav>


  <form (submit)="createEmployee($event)" #employeeForm ='ngForm'>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-sm-8">
        <div class="card">
          <div class="card-header bg-primary text-white text-center">
            <h4>Register</h4>
          </div>
          <div class="card-body">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-o" aria-hidden="true"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="First Name" aria-label="First Name" aria-describedby="basic-addon1"
                     name="firstName"
                     id="firstName"
                     [(ngModel)]="employee.firstName"
                     #firstName="ngModel"
                     minlength="3"
                     required
              />
            </div>
            <small class="mt-0" *ngIf="(firstName.touched || firstName.dirty) && firstName.errors" >
              <div *ngIf="firstName?.errors?.required" class="alert alert-danger">
                First Name cannot be empty
              </div>
              <div *ngIf="firstName?.errors?.minlength" class="alert alert-danger">
                First Name is at least 3 characters
                {{ firstName?.errors?.minlength.requiredLength }} characters
              </div>
            </small>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-o" aria-hidden="true"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Last Name" aria-label="Last Name" aria-describedby="basic-addon1"
                     name ='lastName'
                     id = 'lastName'
                     [(ngModel)]="employee.lastName"
                     #lastName="ngModel"
                     minlength="3"
                     required
              >
            </div>
            <small *ngIf="(lastName.touched || lastName.dirty) && lastName.errors">
              <div *ngIf="lastName?.errors?.required" class="alert alert-danger">
                Last name cannot be empty
              </div>
              <div *ngIf="lastName?.errors?.minlength" class="alert alert-danger " >
                Last name must be at least
                {{ lastName?.errors?.minlength.requiredLength }} characters
              </div>
            </small>
            <small>
              <p class="errorMessage">{{errorsMessage?.last_name.message}}</p>
            </small>
            <div class="input-group mb-2">
              <div class="input-group-prepend" id="building-icon">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-building" aria-hidden="true"></i>
              </span>
              </div>
              <select [(ngModel)]="selectedCompanyID" id="company" class="form-control col" name="company"  aria-label="Company" aria-describedby="basic-addon1">
                <option selected disabled hidden value="">--Select Company--</option>
                <option value="createNew">--Add New Company--</option>
                <option *ngFor="let company of companies" value="{{company._id}}">{{company.name}}</option>
              </select>
              <input *ngIf="selectedCompanyID == 'createNew'" name="name" [(ngModel)]="newCompany.name" type="text" class="form-control" placeholder="Enter here" aria-label="Company" aria-describedby="basic-addon1">
            </div>
            <small>If you don't see your company on the list, select "Add New Company."</small>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
              </div>
              <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1"
                     name="email"
                     id="email"
                     [(ngModel)]="employee.email"
                     #email="ngModel"
                     email
                     required
              >
            </div>
            <small *ngIf="(email.touched || email.dirty) && email.errors">
              <div *ngIf="email?.errors?.required" class="alert alert-danger">
                Email cannot be empty
              </div>
              <div *ngIf="email?.errors?.email" class="alert alert-danger">
                Email must be a valid
              </div>
            </small>
            <small>
              <p class="errorMessage">{{errorsMessage?.email.message}}</p>
            </small>

            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2"><i class="fa fa-key" aria-hidden="true"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2"
                     name="password"
                     class="form-control"
                     id="password"
                     [(ngModel)]="employee.password"
                     #password="ngModel"
                     minlength="8"
                     required
              >
            </div>
            <small *ngIf="(password.touched || password.dirty) && password.errors">
              <div *ngIf="password?.errors?.required" class="alert alert-danger">
                Password cannot be empty
              </div>
              <div *ngIf="password?.errors?.minlength" class="alert alert-danger">
                Password must be greater than
                {{ password?.errors?.minlength.requiredLength }} characters
              </div>
            </small>
            <small>
              <p class="errorMessage">{{errorsMessage?.password.message}}</p>
            </small>

            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2"><i class="fa fa-check" aria-hidden="true"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="confirm Password" aria-label="Confirm Password" aria-describedby="basic-addon2"
                     name="confirmPassword"
                     class="form-control"
                     id="confirmPassword"
                     [(ngModel)]="ConfirmPassword"
                     #confirmPassword="ngModel"
                     required
              >
            </div>
            <small *ngIf="(confirmPassword.touched || confirmPassword.dirty) && confirmPassword.errors">
              <div *ngIf="confirmPassword?.errors?.required" class="alert alert-danger">
                Confirm Password cannot be empty
              </div>
            </small>
            <small *ngIf="(confirmPassword.touched || confirmPassword.dirty)">
              <div *ngIf="!MustMatch() && !confirmPassword?.errors?.required"  class="alert alert-danger">
                Confirm Password and Password not match
              </div>
            </small>

            <div class="block">
              <button class="btn btn-primary text-center my-3" [disabled]="employeeForm.invalid">Register</button>
              <button class="btn btn-danger ml-2" routerLink='/home'>Cancel</button>
              <br>
              <small>Already Registered? Sign in <a routerLink='/login'> here</a></small>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>

  <footer>
    <div class="row map justify-content-center">
      <div class="col-lg-4 col-sm-6">
        <p><a href="/index.html"><strong>Our product</strong></a></p>
        <p><a href="#" class="purpleh">Product</a></p>
        <p><a href="#" class="purpleh">Pricing</a></p>
      </div>

      <div class="col-lg-4 col-sm-6">
        <p><a href="/cases.html"><Strong>Use cases</Strong></a></p>
        <p><a href="#" class="greenh">Product Management</a></p>
        <p><a href="#" class="greenh">All Use Cases</a></p>
      </div>


      <div class="col-lg-3 col-sm-6">
        <p><a href="/team.html"><Strong>Our Team</Strong></a></p>
        <p><a href="#" class="blueh">About Us</a></p>
        <p><a href="#" class="blueh">Contact Us</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-12 real-footer text-center">Made with <i class="fa fa-coffee" aria-hidden="true"></i> & <i class="fa fa-heart" aria-hidden="true"></i><br>
        All Rights Reserved © funday.com</div>
      <div class="col-lg-6 col-sm-12 real-footer justify-content-center">
        <div class="row social justify-content-center">
          <a href="https://www.facebook.com" class="fa fa-facebook" target="_blank"></a>
          <a href="https://www.twitter.com" class="fa fa-twitter" target="_blank"></a>
          <a href="https://www.youtube.com" class="fa fa-youtube" target="_blank"></a>
          <a href="https://www.skype.com" class="fa fa-skype" target="_blank"></a>
        </div>
      </div>
    </div>
  </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>


